/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
/* @import "./custom-base-styles.css"; */
@import "tailwindcss/components";
/* @import "./custom-components.css; */
@import "tailwindcss/utilities";
/* @import "./custom-utilities.css"; */

.nav-custom-bg {
	background-color: #C7EEDB;
	/* position: sticky;
	top: 0; */
}

.reactspinner {
	display: block !important;
	margin: 2rem auto;
}

.journeys-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.journey-card {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.station-card {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid-container {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 1rem;
	row-gap: 0;
}

@media (min-width: 600px) {
  .journeys-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) {
  .journeys-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .journeys-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1500px) {
  .journeys-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1800px) {
  .journeys-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
